.linkMenu:after {
  content: "";
  @apply h-8 w-24 block bg-mostard absolute rounded-sm -left-2 -bottom-2 -z-10;
}

.listPayments li {
  @apply flex items-center gap-2;
}

.imgsOptions img {
  @apply w-12 h-12 xl:w-16 xl:h-16 rounded-full border-[5px] border-white-beige;
}

.imgsOptions img + img {
  @apply -ml-6;
}

.imgsOptions p {
  @apply ml-6;
}
