@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
  @apply text-neutral-600 text-base xl:text-lg bg-white-beige min-h-screen;
}

button,
a {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  @apply bg-red-theme px-8 py-3 rounded-sm table text-white-beige hover:bg-red-hover disabled:opacity-50 disabled:hover:bg-red-theme disabled:hover:cursor-not-allowed;
}

.card {
  box-shadow: 0 0 30px 0 #f0ede787;
}

input {
  @apply outline-none border-2 rounded-sm focus:border-blue-500  text-neutral-700 border-neutral-200;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-white-beige;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-200 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-400;
}
